.products-section-heading{
    color:#1f2933;
    font-family: 'roboto';
    font-weight: 700;
    font-size: 36px;
}
.product-card{
    width:100%;
    height: 600px;
}
.vr-headset-bg-container{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size:cover;
}
.product-card-title{
    color:#ffffff;
    font-family: 'roboto';
    font-size:36px;
    font-weight:500;

}
.product-card-price{
    color:white;
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 500;
}
.touch-controller-bg-container{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
}
.button{
    color:white;
    background-color:#1754a1;
    font-family: 'roboto';
    font-size: 18px;
    font-weight:500;
    width:173px;
    height:56px;
    border
}