.background-card{
    width: 700px;
}
p{
    color:#616c76;
}
.image-A{
    width: 100px;
    margin-left: rem;
}
.store-card-1{
    padding:2rem;
}
.store-card-2{
    padding:2rem;
}
.store-card-3{
    padding:2rem;
}