.background-card{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    background-size:cover;
    width:400px;
    height: 300px;
   margin:50px;
   color:white;
}
.memo{
    text-decoration: underline;
    width:70px;
}