.background-card{
    background-color: #225db0;
    height:100vh;
    width: 500px;
}
.caursel{
    
    width:70%;
    margin:1rem;
    padding: 1rem;
}
.list-items{
    padding: 1rem;
    color:white;
    font-family: 'roboto';

}
.button-2{
    text-align: center;
}
.button-3{
    background-color: #225db0;
    border-color: white;
    color: white;
    border-width: 1px;
}